body {
    text-align:center;
}
#content {
    margin:auto;
    margin-top:15em;
    position:relative;
    width:32em;
    height:auto;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1em;
    line-height: 2em;
    font-weight: bold;
    padding:10px;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
}

